// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.widget-contact.affix {
	width: 225px;
}

@media all and (max-width: 800px) {

	.affix {
	  position: static;
	}

	.widget-contact.affix {
		width: auto;
	}

}
