/*
   FollowMeBar
   ========================================================================== */

.followMeBar {
	margin: 0;
	padding-top: $line-height-computed;
	padding-bottom: ($line-height-computed / 2);
	background: $white;
	position: relative;
	z-index: 20;
}
.followMeBar.fixed {
	position: fixed;
	top: 0;
	width: 630px;
	z-index: 10;
}
.followMeBar.fixed.absolute {
	position: absolute;
}