/*
   Widget
   ========================================================================== */

.widget {
	text-align: right;
}

.widget-contact {
	h2 {
		border: 0 none;
	}
	ul {
		list-style-type: none;
	}
}

@media all and (max-width: 800px) {
	.widget {
		text-align: center;

	}
}

