@import "../dependencies/bootstrap/variables";
@import "../dependencies/bootstrap/mixins";
@import "../dependencies/bootstrap/buttons";
@import "../dependencies/bootstrap/button-groups";

.btn-group-vertical > .btn {
	border-radius: 0 !important;
	border: 0 none;
}

.btn-download > a.btn {
	width: auto;
	text-align: right;
	margin: 16px -16px 0 0;
	color: $gray-light;

	&:active,
	&:focus,
	&:hover {
		background: none;
		box-shadow: none;
		color: $gray;
	}

	> i {
		width: 30px;
		font-size: 20px;
		text-align: center;
	}
}
.btn-download {
	border-bottom: 4px solid $white;
	width: 100%;
}

@media all and (max-width: 900px) {
	.btn-download > a.btn {
		margin-right: 0;
	}
}

@media all and (max-width: 800px) {
	.btn-download {
		margin-bottom: 3em;

		> a.btn {
			text-align: center;
			margin-top: 0;
			padding: 10px 0;
		}
	}
}

@media print {
	.btn-download > a {
		visibility: hidden;
	}
}