/*
   Widget
   ========================================================================== */

.widget {
  text-align: right;
}

.widget-contact {
  h2 {
    border: 0 none;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.download-icons {
  float: right;
  margin: 40px 0 0;

  > li {
    display: block;
    text-align: center;
  }

  a {
    border-radius: 25px;
    font-size: floor($font-size-base * 1.7);
    line-height: $line-height-large;
    background-color: $gray-lighter;
    transition: background-color 0.25s ease-out,
                color 0.25s ease-out;
    color: $gray-darker;
    width: 50px;
    height: 25px;
    padding: 10px 0 15px;
    display: block;
    margin-bottom: 0.4em;

    &:hover {
      background-color: $gray;
      color: $white;
    }
  }
}

.contact-icons {
  clear: both;
  margin-bottom: 3em;
  float: right;

  > li {
    display: block;
    text-align: center;
  }

  a {
    border-radius: 25px;
    font-size: floor($font-size-base * 1.7);
    line-height: $line-height-large;
    background-color: $gray-lighter;
    transition: background-color 0.25s ease-out,
                color 0.25s ease-out;
    color: $gray-light;
    width: 50px;
    height: 25px;
    padding: 10px 0 15px;
    display: block;
    margin-bottom: 0.4em;

    &:hover {
      color: $white;
    }
  }
  a.blog:hover {
    background-color: #fa9b39;
  }
  a.email:hover {
    background-color: #dd4b39;
  }
  a.github:hover {
    background-color: $gray;
  }
  a.twitter:hover {
    background-color: #00aced;
  }
  a.linkedin:hover {
    background-color: #007bb6;
  }
}

@media all and (max-width: 900px) {
  .contact-icons a {
    margin-right: 0;
  }
}


@media all and (max-width: 800px) {
  .widget {
    text-align: center;
  }
  .widget-contact ul > li {
    padding-bottom: 15px
  }

  .widget-contact h2 {
    display: none
  }

  .download-icons,
  .contact-icons {
    float: none;
  }

  .download-icons > li,
  .contact-icons > li {
    display: inline;
  }
  .download-icons > li a,
  .contact-icons > li a  {
    display: inline-block;
    margin: 0 0.4em 0.8em;
  }
}

@media all and (max-width: 520px) {
  .contact-icons {
    margin-right: -20px;
    margin-left: -20px;
  }
}

@media all and (max-width: 360px) {
  .contact-icons > li a  {
    margin: 0 0.2em 0.8em;
  }
}

@media print {
  .widget {
    text-align: right;
  }
  .download-icons {
    display: none;
  }
  .contact-icons  {
    margin: 200px 0 0 0;

    > li {
      text-align: right;
    }

    > li a {
      margin: 0 0 10px;
      padding: 0;
      width: auto;
      height: auto;
      background: none;
      display: block;
    }

    > li a i {
      display: none
    }

    > li a .print {
      display: block;
      font-size: $font-size-base;
      font-weight: bold;
    }
  }
}

