/*
   Widget
   ========================================================================== */

.widget {
  text-align: right;
}

.widget-contact {
  h2 {
    border: 0 none;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.download-icons {
  margin-bottom: 3em;
  float: right;

  > li {
    display: block;
    text-align: center;
  }

  > li:first-child a {
    border-radius: 25px 25px 0 0;
    padding-top: 15px;
  }
  > li:last-child a {
    border-radius: 0 0 25px 25px ;
    padding-bottom: 20px;
  }

  a {
    font-size: floor($font-size-base * 1.45);
    line-height: $line-height-large;
    background-color: $gray-light;
    transition: background-color 0.25s ease-out;
    color: $white;
    width: 50px;
    height: 25px;
    padding: 12.5px 0;
    display: block;

    &:hover {
      background-color: $gray-dark;
    }
  }
}

.contact-icons {
  margin-bottom: 3em;
  float: right;

  > li {
    display: block;
    text-align: center;
  }

  a {
    font-size: floor($font-size-base * 1.25);
    line-height: $line-height-large;
    background-color: $gray-light;
    transition: background-color 0.25s ease-out;
    color: $white;
    width: 50px;
    height: 25px;
    padding: 12.5px 0;
    border-radius: 25px;
    display: block;
    margin-bottom: 0.6em;

    &:hover {
      background-color: $gray-dark;
    }
  }
}

@media all and (max-width: 900px) {
  .contact-icons a {
    margin-right: 0;
  }
}


@media all and (max-width: 800px) {
	.widget {
		text-align: center;

	}
	.widget-contact ul > li {
		padding-bottom: 15px
	}

	.widget-contact h2 {
		display: none
	}

	.contact-icons li {
		display: inline;
	}

	.contact-icons a {
		font-size: floor($font-size-base * 4.00); // ~36px
		padding: 10px;
	}

}

@media all and (max-width: 520px) {
	.contact-icons {
		margin-right: -20px;
		margin-left: -20px;
	}
	.contact-icons a {
		font-size: floor($font-size-base * 3.50); // ~36px
		padding: 0;
	}
}

@media all and (max-width: 360px) {
	.contact-icons a {
		font-size: floor($font-size-base * 2.80); // ~36px
		padding: 0;
	}
}

@media print {
	.widget {
		text-align: right;

	}
	.contact-icons  {
		margin: 0;
		a {
			margin-right: 0;
			padding: 0;
		}

		a > i {
			display: none
		}

		a > span.print {
			display: block;
			font-size: $font-size-base;
			margin-right: 10px;
		}
	}
}

