/*
   Header
   ========================================================================== */

.site-header {
  text-align: center;
}

.info-name {
  font-size: floor($font-size-base * 4); // ~56px
  line-height: $line-height-larger;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

.info-shortdesc {
  font-size: ceil($font-size-base * 1.25); // ~18px
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  margin: 0;
}

